/* Home Page */

@keyframes type {
  from {
    width: 0px;
  }
}

@keyframes response {
  from {
    color: transparent;
  }
  to {
    color: inherit;
  }
}

.title-bar {
  height: 30px;
  width: 75%;
  text-align: center;
  padding: 10px;
  margin: auto;
  margin-top: 50px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  border: white solid;
}

.title-bar h1 {
  margin: auto;
  font-size: 16px;
}

.title-bar-buttons {
  width: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title-bar-buttons button {
  height: 15px;
  width: 15px;
  border: transparent;
  border-radius: 50%;
}

#button-one {
  background-color: red;
}

#button-two {
  background-color: green;
}

.terminal-container {
  border: white solid;
  width: 75%;
  height: 25rem;
  margin: auto;
  text-align: start;
  padding: 10px;
  overflow: scroll;
  scrollbar-width: none;
}

.welcome-message {
  color: inherit;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 2s steps(60, end);
}

.command-message {
  color: inherit;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 2s steps(60, end);
  animation-delay: 5s;
}

.list-commands {
  white-space: pre-line;
  word-wrap: break-word;
  margin-bottom: 30px;
}

.input {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input input {
  width: 100%;
  border: none;
  outline: none;
}

.output {
  white-space: pre-line;
  word-wrap: break-word;
  margin-top: 10px;
}

.response {
  font-size: 20px;
  width: 100%;
  animation: response 1s steps(60, end);
}

/* About page */

.about {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.header button {
  padding: 15px;
  border-radius: 30px;
  margin-right: auto;
  background-color: white;
  color: black;
  font-weight: bold;
}

.header button:hover {
  background-color: black;
  color: white;
  font-weight: bolder;
}

.header h1 {
  background-color: transparent !important;
  color: white;
  font-size: 30px;
  text-align: center;
  margin-right: auto;
  position: absolute;
}

.about-text p {
  /* background-color: red; */
  height: fit-content;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  align-items: center;
  font-size:large ;
}

.about-2 h1{
  background-color: transparent!important;
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 75px;
}

.about-2 p {
  height: fit-content;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  align-items: center;
  font-size:large ;
}

